html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Name of product*/
.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
h4.product-name {
    height: 57.58px;
}
div.cosmetic-banner {
    height: auto;
    margin-top: 120px;
}

h1.display-6 {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: bold;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

a {
    color: #b46776 !important;
}
.imformation-web {
    padding-right: 110px !important;
    padding-left: 110px !important;
}

h5 {
    color: #b46776 !important;
}

