
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
    background-color: #deb5bb;
}

.btn.border-secondary:hover {
    color: var(--bs-white) !important;
    background-color: #b46776 !important;
    border-color: #b46776;
}
.fa-shopping-bag.text-primary {
    color: #fff !important;
}
/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px 20px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}
/*** Topbar End ***/

/*** Navbar Start ***/
.navbar .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 18px;
    transition: .5s;
    font-weight: bold;
}

.navbar {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

#searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/Banner/Banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-header-left{
    margin-top: 170px;
}
.hero-header-right img {
    width: 492px;
    height: 321.76px;
}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    background-color: #b46776;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Banner/Banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    align-content: center;
}

@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 152px !important;
        height: 400px;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}
/*** Hero Header end ***/


/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--bs-secondary);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: var(--bs-secondary);
    background-color: #f1cdd4;
}
/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
    position: relative;
    width: 250px; 
    height: 130px; 
    top: -50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*** service End ***/


/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
    position: relative; /* tạo stacking context */
    z-index: 1; /* đảm bảo viền nằm trên shadow */
    border: 2px solid #e4abb6; /* ví dụ màu vàng */
    border-radius: 10px;
    background-clip: padding-box;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
    z-index: 2; /* tăng khi hover để luôn nổi trên */
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

    .fruite .fruite-item .fruite-img img, .owl-carousel img {
        transition: 0.5s;
        width: 294px;
        height: 294px;
    }

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}



/*** Fruits End ***/


/*** vesitable Start ***/
.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
    position: relative;
    z-index: 1;
    border: 2px solid #e4abb6 !important; /* hoặc đỏ tuỳ bạn */
    border-radius: 10px;
    background-clip: padding-box;
}

.vesitable .vesitable-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;

}

.vesitable .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}


/*** vesitable End ***/
/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background: var(--bs-primary);
}
/*** Banner Section End ***/


/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/


/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** testimonial End ***/


/*** Single Page Start ***/
.pagination {
    display: inline-block;
}
  
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #b46776;
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: #b46776;
    color: var(--bs-light);
    border: 1px solid #b46776;
}

    .pagination a:hover:not(.active) {
        background-color: #deb5bb;
        color: #fff !important;
        border-color: #deb5bb;
    }

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}
/*** Single Page End ***/


/*** Footer Start ***/
.footer{
    margin-top: 100px;
}
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: #b46776 !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
    color: #b46776 !important;
}
/*** Footer End ***/



/*    profile*/
.image-profile {
    margin-top: 150px;
}
/*details page*/
.detail-page {
    margin-top: 120px;
}
/*home_index*/
.me-2 {
    margin-right: 0 !important;
}
.fruite-item .p-4.border {
    border: none !important;
}
.text-primary {
    color: #b46776 !important;
}
.bg-primary {
    background-color: #b46776 !important;
}
.text-secondary {
    color: #b46776 !important;
}
.bg-light {
    background-color: #fff3ec !important;
}

.bg-secondary {
    background-color: #f1cdd4 !important;
}
.border-secondary {
    border-color: #e4abb6 !important;
}
.menu.active {
    border-bottom: 3px solid #b46776;
    border-radius: 5px;
   
}
.bg-dark {
    background-color: #faedef !important;
}
.text-light {
    color: #b46776 !important;
}
.footer-item {
    color: #b46776 !important;
}
.rounded-pill.text-primary {
    color: #fff !important;
}
a.btn-link {
    color: #deb5bb !important;
}
.btn-outline-secondary {
    border-color: #deb5bb;
}
.btn-outline-secondary:hover {
    background-color: #deb5bb;
}
.footer-name {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: bold;
}
.position-absolute.text-dark {
    color: #b46776 !important;
}
.rounded-circle.back-to-top {
    background-color: #b46776 !important;
    color: #fff !important;
    border-color: #b46776 !important;
}
.btn-primary:focus {
    box-shadow: 0 0 0 .25rem #deb5bb !important;
}
.breadcrumb.justify-content-center.mb-0 {
    font-size: 20px;
}
.link-home {
    color: #ffb8c3;
}
.text-center.text-white.display-6 {
    font-size: 65px;
}
a.rounded.active {
    color: #fff !important;
}
a.rounded {
    color: #b46776 !important;
}
/*Login Page*/
/*Background*/
header.login {
  position: fixed;
  top: 20px;
  left: 700px;
  width: 94%;
  padding: 5px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 89;
  font-family: "Poppins", sans-serif;
  font-size: 22px
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #b46776;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 94%;
  height: 3px;
  background: #b46776;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
body.login {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  background: url(../img/Banner/loginBanner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  margin-right: 200px;
}
/*Input form*/
.login.wrapper {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
}
.register.wrapper {
    position: relative;
    width: 450px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
}
/* .wrapper.active {
  height: 500px;
} */
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  padding: 40px;
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2.3em;
  color: #b46776;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #b46776;
  margin: 25px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.3em;
  color: #b8838d;
  font-weight: bold;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: #b46776;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #b46776;
  line-height: 57px;
}
.remember-forgot {
  font-size: 1.1em;
  color: #b46776;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  text-decoration: none;
  color: #b46776;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

.btn-1 {
  width: 100%;
  height: 45px;
  background: #b46776;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}
.btn-1:hover {
  background: #deb5bb;
  color: #b46776;
}
.login-register {
  font-size: 1.1em;
  color: #b46776;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #b46776;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
.btn.btn-primary {
    color: #fff !important;
    background-color: #deb5bb;
    border-color: #deb5bb;
}
.btn.btn-primary:hover {
    background-color: #b46776;
    border-color: #b46776;
}
.btn.btn-warning {
    color: black !important;
}
.btn.btn-danger {
    color: #fff !important;
}
